<strong>Olá {{ student_name }}</strong>
<p>
    Você fez uma pergunta ao GymPoint no dia <b>{{ question_date }}</b>.
    <br><br>
    <blockquote>
        <i>{{ question }}</i>
        <br>
        <b>{{ answer }}</b>
    </blockquote> 
    <br><br>
    <small>
        Satisfeito(a) com a resposta fornecida pelo GymPoint?
        <br>
        caso tenha mais alguma dúvida estamos a disposição para atender da melhor forma possível
    </small>
    <br><br>
    <strong>Treine duro, hidrate-se e FIQUE MONSTRO!</strong>
</p>