<strong>{{ student_name }}, Seja bem vindo ao Gym Point!</strong>
<p>
    Você agora está matriculado no melhor gerenciador de academias do mundo!
    <br>
    O plano escolhido é: <b>{{ plan_name }}</b>
    <br>
    a data de vencimento do plano é <b>{{ plan_end_date }}</b> no valor total de <b>R$ {{ plan_price }}</b> mensais
    <br><br>
    Obrigado por fazer parte do GymPoint e bom treino
    <br>
    BIIIIRLLL!!!
</p>